{"filter":false,"title":"requirements.txt","tooltip":"~/workspace/unit6/finance/requirements.txt","undoManager":{"mark":-1,"position":-1,"stack":[]},"ace":{"folds":[],"scrolltop":0,"scrollleft":0,"selection":{"start":{"row":3,"column":0},"end":{"row":3,"column":0},"isBackwards":false},"options":{"guessTabSize":true,"useWrapMode":false,"wrapToView":true},"firstLineState":0},"timestamp":1556668768210,"hash":"419d523b2d9882021261458aa9b9fe7ae5111efa"}